    /* variables */
    :root {
        --light-1: #F5EDDC;
        --light-2: #CFD2CF;
        --light-3: #A2B5BB;
        --light-4: #EB1D36;
        --light-5: black;
        --dark-1: #000000;
        --dark-2: #2b2b2b;
        --dark-3: #484345;
        --dark-4: #7e7e7e;
        --dark-5: white;
    }

    /* body */
    body {
        font-family: monospace;
        font-size: medium;
        margin: 0px;
        padding: 0px;
        background-color: var(--dark-1);
        color: var(--dark-5);
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
    }

   
   
