/* section */
section {
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.welcome-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* welcome section */
.welcome-section {
    background-color: var(--dark-2);
    border-radius: 10px;
    height: 30vh;
    padding: 50px;
    text-align: center;
    /* view port - width */
}

.welcome-section input,
.welcome-section button {
    width: 80%;
    margin-top: 10px;
    padding: 5px;
    background-color: var(--light-2);
    border: 2px solid var(--dark-3);
    border-radius: 5px;
}

.welcome-section button {
    background-color: var(--light-4);
    color: var(--dark-5);
    width: 150px;
}

/* search section  */
.search-section>input {
    padding: 10px;
    margin: 10px;
}

.search-section>button {
    padding: 10px;
}

/* about-section */
/* profile-sub-section */
.about-section {
    padding: 10px;
    height: fit-content;
}

.profile-sub-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-sub-section>div {
    width: 50%;
    text-align: center;
}

.profile-sub-section>div>.profile-pic {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: var(--dark-5);
}

.profile-sub-section>.post-count {
    background-color: var(--dark-3);
    padding: 10px;
    border-radius: 10px;
}

.profile-sub-section>.post-count>div:first-child {
    font-weight: 800;
}

/* btn-sub-section */
.btn-sub-section {
    display: flex;
    justify-content: space-around;
}

.btn-sub-section>button {
    padding: 5px;
    width: 150px;
    border-radius: 5px;
    background-color: var(--dark-4);
    color: var(--light-1);
    text-transform: capitalize;

}

.btn-sub-section>button>i {
    margin-right: 10px;
    color: var(--dark-1);
}

/* post section */
.post-section-title {
    position: sticky;
    top: 35px;
    display: flex;
    justify-content: space-around;
    background-color: var(--dark-2);
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    border-top: 2px solid var(--dark-5);
}

.post-section {
    border-radius: 10px;
    padding: 10px;
    color: var(--dark-5);

}

.post-section .card-main-section {
    width: 100%;
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.post-section>.card-shrink {
    background-color: var(--dark-3);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.post-section>.card {
    background-color: var(--dark-2);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    min-height: 175px;
}

.post-section .post-by,
.post-section .group-by {
    background-color: var(--light-2);
    color: black;
    width: fit-content;
    /* float: left; */
    padding: 10px;
    border-left: 5px solid var(--light-4);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 0px;
}

.post-section .post-by::before {
    content: "✨";
}

.post-section .group-by {
    border-left-color: var(--dark-3);


}

.post-section .group-by ::before {
    content: "🏷️";
}

.post-section>.card>.title {
    color: var(--light-1);
    text-transform: capitalize;
    background-color: var(--dark-1);
    width: fit-content;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.post-section>.card>.pic {
    background-color: var(--dark-5);
    height: 100px;
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

.post-section>.card-shrink>.title {
    color: var(--dark-5);
    text-transform: capitalize;
    background-color: var(--dark-2);
    width: fit-content;
    float: left;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.post-section .tags {
    display: flex;
    flex-wrap: wrap;
}

.post-section>.card-shrink .tag {
    background-color: var(--light-3);
    color: black;
    display: block;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    text-transform: capitalize;
}

.post-section>.card-shrink .tag::before {
    content: "#️⃣";
}

.post-section .like {
    width: 100%;
    text-align: end;
    font-size: larger;
    align-content: center;
    color: salmon;

}

.post-section .like.like-count {
    color: sandybrown;
}

.post-section .like:active {
    color: red;
}