/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;

    & img {
        height: 50px;
    }

    & .navigation {
        display: flex;

        div {
            margin: 10px;
            margin-left: 40px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: sans-serif;
            cursor: pointer;
        }
    }

    & .profile {
        img {
            border-radius: 50%;
            border: 2px solid gainsboro;
            padding: 2px;
        }

        button {
            width: 160px;
            padding: 10px;
            text-transform: capitalize;
            background-color: black;
            color: white;
            border-radius: 10px;
        }
    }
}